{{#if isQ1showing}}
    <div class="prereq">
      <p>Have you gone through all the steps on the Learn How to Program debugging lesson?</p>
    </div>
    <button {{action 'questionShow'}}>Yes...</button>
  {{else if isQ2showing}}
    <div class="prereq">
      <p>Have you asked another pair for help?</p>
    </div>
    <button {{action 'question2Show'}}>Yes...</button>
  {{else if isQ3showing}}
    <div class="prereq">
      <p>Have you spent 15 minutes going through through the problem documenting every step?</p>
    </div>
    <button {{action 'question3Show'}}>Yes...</button>
  {{else if isFormShowing}}
    <div class="ticket-form">
      <form>
        <div class="form-group">
          {{input value=name id="name" placeholder="Please enter your name"}}
        </div>

        <div class="form-group">
          {{input value=location id="location" placeholder="Please enter your location"}}
        </div>

        <div class="form-group">
          {{textarea value=description id="description" placeholder="Give a brief description of the issue you are having."}}
        </div>

        <button class="btn btn-default" {{action 'saveTicket'}}>Help!</button>

      </form>
    </div>
{{/if}}
