<li><p>{{ticket.name}} , {{ticket.location}}</p>
  {{#if isDescriptionShowing}}
    <p class="question" {{action 'descriptionHide'}}>{{ticket.description}}</p>
    {{else}}
    <button {{action 'descriptionShow'}}>Show Description</button>
  {{/if}}
  <button {{action 'delete' ticket}}>Delete</button>
  <p class="time-elapsed">{{moment-from-now ticket.timestamp interval=1000}}</p>
</li>
